# JetBrains IDE
.idea/

# Python
__pycache__/
*.pyc
venv/
env/
*.env

# Jupyter
.ipynb_checkpoints/
/Task2/NewSet/
/FinalProject/CK_Plus_Images/
/FinalProject/CK_Plus_Ready/
/FinalProject/fer2013/
/FinalProject/Sorted_data/
/FinalProject/YOLO_format/
